@use '@/styles/util' as u;
@use 'sass:color';

.header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 0 20px 5px hsla(0, 0%, 0%, 0.05);
  font-size: u.$sz-14-16;

  svg{
    stroke: u.$color-neutral-950;
  }

  &.atTop{
    box-shadow: unset;

    .top{
      background-color: color.adjust(u.$color-primary-950, $alpha: -0.7);
    }
    .bottom{
      background-color: transparent;
      color: white;

      svg{
        stroke: white;
      }
    }
    
  }
}

.top{
  background-color: u.$color-primary-950;
  color: white;
  padding-block: 0.25em;
}

.bottom{
  position: relative;
  background-color: white;
  height: 3.5em;
}
.navLink{
  height: fit-content;

  li{
    display: flex;
    height: fit-content;
  }

  a.active, a:hover{
    color: u.$color-primary-600;
  }
}

.openMenu{
  display: none;
}

.mobileNav{
  background: u.$color-neutral-100;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 60;
  display: none;
  grid-template-rows: max-content 1fr max-content;
  height: 100vh;
  height: 100dvh;
  height: 100svh;
  max-width: 80vw;
  width: clamp(200px, 35%, 240px);
  box-shadow: 0 0 20px 5px hsla(0, 0%, 0%, 0.05);
  transform: translateX(-100%);
  transition: transform 0.25s ease-in-out;

  svg{
    stroke: u.$color-neutral-950;
  }
}

@include u.breakpoint(tablet-s){
  .bottom .nav{
    display: none;
  }
  .openMenu{
    display: flex;
  }
  
  .userCont{
    display: none;
  }
  .mobileNav{
    display: grid;
    
    &.open{
      transform: translateX(0%);
    }
  }
}