@use 'sass:color';

$color-primary: hsl(211, 84%, 50%);
$color-primary-bg: color.mix($color-primary, transparent, $weight: 10%);
$color-primary-hover: color.mix($color-primary, black, $weight: 94%);

.editorWrapper{
  :global([data-theme=light]) & {
    --color-bg: white;
    --color-bg-hover: #{color.mix(white, hsl(225, 10%, 11%), $weight: 94%)};
    --color-border: hsl(220, 3%, 70%);

    --color-icon: hsl(223, 5%, 29%);
  }
  :global([data-theme=dark]) & {
    --color-bg: hsl(225, 10%, 11%);
    --color-bg-hover: #{color.mix(hsl(225, 10%, 11%), white, $weight: 94%)};
    --color-border: hsl(223, 4%, 37%);

    --color-icon: hsl(216, 4%, 82%);
  }

  background-color: var(--color-bg);
  font-size: clamp(14px, 0.4375rem + 1.25vw, 16px);
  position: relative;
  border-radius: 4px;
  border: 1px solid var(--color-border);
}

.richTextEditor{
  --padding: 0.75em;

  padding: var(--padding);
  height: calc((var(--padding) * 2) + (1.5em * 6));
  overflow: hidden auto;

  &:focus-visible{
    outline: none;
  }
}