@use '@/styles/util' as u;

.breadcrumbs{
  display: flex;
  align-items: center;
  width: fit-content;

  a{
    &:hover, &.active{
      color: var(--color-text-primary);
    }
    &:hover{
      text-decoration: underline;
    }
  }
  
  svg{
    fill: var(--color-text);
    height: 0.625em;
    width: 0.625em;
  }
  .divider{
    display: flex;
    margin-inline: 0.25em;
  }
}